.page.theme_dark {
  --accent-color: #FF0070;
  --font-color: #000028;
  --font-color-title: #FF0070;
  --font-text-color: #F1B2CE;
  --font-color-menu: #FF0070;
  --font-color-menu-hover: #FF007066;
  --title-color: #DB00FF;
  --title-decor-color: #FF0070;
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  :root {
  --accent-color: #FF0070;
  --font-color: #000028;
  --font-color-title: #FF0070;
  --font-text-color: #F1B2CE;
  --font-color-menu: #FF0070;
  --font-color-menu-hover: #FF007066;
  --title-color: #DB00FF;
  --title-decor-color: #FF0070;
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);   
    }
  }
