:root.theme-dark {
  --accent-color: #ff0070;
  --headline-color: #db00ff;
  --quote-color: #000028;
  --text-color: #F1B2CE;
  --bg-color: #000028;
  --sub-accent-color: var(--accent-color);
}

.theme-dark .page .rec{
  display: block;
}


.theme-dark .page {
  background-image: url('../images/cover-image-dark.png');
}
