:root.theme-light {
  --accent-color: #ff8dcb;
  --headline-color: #ffc2e6;
  --quote-color: #000028;
  --text-color: #353430;
  --bg-color: #fff1f7;
  --sub-accent-color: #353430;
}

.theme-light .page .rec {
  display: none;
}

.theme-light .page {
  background-image: url('../images/cover-image-light.png');
}

@media (prefers-color-scheme: light) {

  :root {
    --accent-color: #ff8dcb;
    --headline-color: #ffc2e6;
    --quote-color: #000028;
    --text-color: #353430;
    --bg-color: #fff1f7;
    --sub-accent-color: #353430; 
  }

  .page {
    background-image: url('../images/cover-image-light.png');
  }

  .rec {
    display: none;
  }
}
